#ludic-main-container {

  .ludic-add-button {

    display: inline-block;
    position: relative;
    width: 50px;
    height: auto;
    background: unset !important;
    border: unset !important;
    margin: 25px 0 0 0;
    padding: unset;

    &:focus {
      outline: none;
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: calc(~'50% - 12.5px');
      border: 1px solid #1177d1;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      background-color: #000;
      background-image: url("[[pix:moodle|t/add]]");
      background-size: 25px;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  .ludic-button {
    cursor: pointer;
    background: linear-gradient(90deg, #fff 0%, #cad8e8 100%);
    border: 1px solid;
  }

  .container-buttons {
    border: 1px solid black;
    height: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    .ludic-button {
      width: 50%;
    }
    .container-sub-buttons {
      background: linear-gradient(180deg, #fff 0%, #cad8e8 100%);
      padding: 10px;
      border: 1px solid black;
      position: absolute;
      .ludic-button {
        width: 100%;
      }
    }
  }

}
