#ludic-main-container {

  .ludic-container.container-success {
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 10px;
    display: none;
    flex-direction: column;

    &.success {
      display: flex;
      background-color: #c2edc2;
    }

    &.error {
      display: flex;
      background-color: #e8a9a9;
      .form-errors-title {
        margin-bottom: 20px;
      }
      .form-errors-list {
        padding: 10px;
        border: 1px solid;
        li {
          list-style: none;
          margin-bottom: 5px;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }

  }
  .container-form {
    .ludic-form {
      width: 100%;
      margin-bottom: 20px;
      .ludic-form-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 20px;
        border: 1px solid black;
        padding: 10px;
        label {
          width: 100%;
          font-weight: bold;
          float: left;
        }
        input:not(.fp-btn-choose), select, textarea, .selection-overview, .ludic-filepicker-container {
          float: right;
        }
      }
    }
  }



}