#ludic-header-bar {
  min-height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  background: linear-gradient(45deg, rgba(224, 176, 224, 0.25) 0%, rgba(247, 249, 99, 0.5) 100%);
  .sub-buttons {
    max-width: 300px;
    .title {
      line-height: 50px;
      margin-left: 20px;
      border: 2px solid purple;
      padding: 6px 12px;
      border-radius: 30px;
      font-weight: bolder;
      color: purple;
      font-size: 24px;
    }
  }
}

.container-sub-buttons[for="ludic-buttons"] {
  position: absolute;
  background: #fff;
  z-index: 10;
  border: 1px solid black;
  border-top: 1px dashed black;
  border-bottom: none;
  max-width: 100%;

  .sub-button {
    display: flex;
    padding: 5px 5px 5px 15px;
    border-bottom: 1px solid black;
    text-decoration: none;
    height: 35px;
    line-height: 25px;
    background: linear-gradient(45deg, rgba(247, 249, 99, 0.25) 0%, rgba(224, 176, 224, 0.5) 100%);

    .sub-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 2.5px 15px 2.5px 0;
    }
    .sub-title {
      @media (max-width: 768px) {
        font-size: 80%;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
