#ludic-main-container {

  .container-items {

    .item {
      display: inline-block;
      width: calc(~'25% - 40px');
      height: 130px;
      min-width: 130px;
      margin: 20px;
      border: 1px solid black;
      cursor: pointer;
      position: relative;

      .item-img-container {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: calc(~'100% - 30px');
      }

      .item-title {
        line-height: 30px;
        text-align: center;
        padding: 0 10px;
      }

      &.selected {
        border: 3px solid red;

        &.is-not-visible:after {
          border-left: 3px solid red !important;
          border-bottom: 3px solid red !important;
        }
      }

      &.hide, &.hide-js {
        display: none;
      }

      &:hover, &:focus {
        border: 2px #0a6aa1 dashed;
      }

      &.is-not-visible {
        background-color: #efefef;

        &:after {
          content: '';
          display: inline-block;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0;
          top: 0;
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          background-image: url("[[pix:moodle|i/show]]");
          background-size: 25px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

    }

  }

}
