#ludic-main-container {

  [data-order="0"] {
    order: 0;
  }

  [data-order="1"] {
    order: 1;
  }

  [data-order="2"] {
    order: 2;
  }

  [data-order="3"] {
    order: 3;
  }

  [data-order="4"] {
    order: 4;
  }

  [data-order="5"] {
    order: 5;
  }

  [data-order="6"] {
    order: 6;
  }

  [data-order="7"] {
    order: 7;
  }

  [data-order="8"] {
    order: 8;
  }

  [data-order="9"] {
    order: 9;
  }

  [data-order="10"] {
    order: 10;
  }

  [data-order="11"] {
    order: 11;
  }

  [data-order="12"] {
    order: 12;
  }

  [data-order="13"] {
    order: 13;
  }

  [data-order="14"] {
    order: 14;
  }

  [data-order="15"] {
    order: 15;
  }

  [data-order="16"] {
    order: 16;
  }

  [data-order="17"] {
    order: 17;
  }

  [data-order="18"] {
    order: 18;
  }

  [data-order="19"] {
    order: 19;
  }

  [data-order="20"] {
    order: 20;
  }

  [data-order="21"] {
    order: 21;
  }

  [data-order="22"] {
    order: 22;
  }

  [data-order="23"] {
    order: 23;
  }

  [data-order="24"] {
    order: 24;
  }

  [data-order="25"] {
    order: 25;
  }

  [data-order="26"] {
    order: 26;
  }

  [data-order="27"] {
    order: 27;
  }

  [data-order="28"] {
    order: 28;
  }

  [data-order="29"] {
    order: 29;
  }

  [data-order="30"] {
    order: 30;
  }

  [data-order="31"] {
    order: 31;
  }

  [data-order="32"] {
    order: 32;
  }

  [data-order="33"] {
    order: 33;
  }

  [data-order="34"] {
    order: 34;
  }

  [data-order="35"] {
    order: 35;
  }

  [data-order="36"] {
    order: 36;
  }

  [data-order="37"] {
    order: 37;
  }

  [data-order="38"] {
    order: 38;
  }

  [data-order="39"] {
    order: 39;
  }

  [data-order="40"] {
    order: 40;
  }

  [data-order="41"] {
    order: 41;
  }

  [data-order="42"] {
    order: 42;
  }

  [data-order="43"] {
    order: 43;
  }

  [data-order="44"] {
    order: 44;
  }

  [data-order="45"] {
    order: 45;
  }

  [data-order="46"] {
    order: 46;
  }

  [data-order="47"] {
    order: 47;
  }

  [data-order="48"] {
    order: 48;
  }

  [data-order="49"] {
    order: 49;
  }

  [data-order="50"] {
    order: 50;
  }

  [data-order="51"] {
    order: 51;
  }

  [data-order="52"] {
    order: 52;
  }

  [data-order="53"] {
    order: 53;
  }

  [data-order="54"] {
    order: 54;
  }

  [data-order="55"] {
    order: 55;
  }

  [data-order="56"] {
    order: 56;
  }

  [data-order="57"] {
    order: 57;
  }

  [data-order="58"] {
    order: 58;
  }

  [data-order="59"] {
    order: 59;
  }

  [data-order="60"] {
    order: 60;
  }

  [data-order="61"] {
    order: 61;
  }

  [data-order="62"] {
    order: 62;
  }

  [data-order="63"] {
    order: 63;
  }

  [data-order="64"] {
    order: 64;
  }

  [data-order="65"] {
    order: 65;
  }

  [data-order="66"] {
    order: 66;
  }

  [data-order="67"] {
    order: 67;
  }

  [data-order="68"] {
    order: 68;
  }

  [data-order="69"] {
    order: 69;
  }

  [data-order="70"] {
    order: 70;
  }

  [data-order="71"] {
    order: 71;
  }

  [data-order="72"] {
    order: 72;
  }

  [data-order="73"] {
    order: 73;
  }

  [data-order="74"] {
    order: 74;
  }

  [data-order="75"] {
    order: 75;
  }

  [data-order="76"] {
    order: 76;
  }

  [data-order="77"] {
    order: 77;
  }

  [data-order="78"] {
    order: 78;
  }

  [data-order="79"] {
    order: 79;
  }

  [data-order="80"] {
    order: 80;
  }

  [data-order="81"] {
    order: 81;
  }

  [data-order="82"] {
    order: 82;
  }

  [data-order="83"] {
    order: 83;
  }

  [data-order="84"] {
    order: 84;
  }

  [data-order="85"] {
    order: 85;
  }

  [data-order="86"] {
    order: 86;
  }

  [data-order="87"] {
    order: 87;
  }

  [data-order="88"] {
    order: 88;
  }

  [data-order="89"] {
    order: 89;
  }

  [data-order="90"] {
    order: 90;
  }

  [data-order="91"] {
    order: 91;
  }

  [data-order="92"] {
    order: 92;
  }

  [data-order="93"] {
    order: 93;
  }

  [data-order="94"] {
    order: 94;
  }

  [data-order="95"] {
    order: 95;
  }

  [data-order="96"] {
    order: 96;
  }

  [data-order="97"] {
    order: 97;
  }

  [data-order="98"] {
    order: 98;
  }

  [data-order="99"] {
    order: 99;
  }

  [data-order="100"] {
    order: 100;
  }
  
}