#ludic-main-container.section-view {
  .section-container {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;

    .section-block {
      width: 40%;
      border: 1px solid black;
      padding: 20px;
      margin-right: 20px;

      .item.section {
        width: 100%;
        margin: 0;
      }
    }

    .section-description {
      width: calc(~'60% - 20px');
      border: 1px solid black;
      padding: 20px;
    }
  }

  .coursemodules-container {
    border: 1px solid black;
    padding: 20px;
    min-height: 200px;
  }
}