@import 'headerbar.less';
@import 'loading.less';
@import 'order.less';
@import 'form.less';
@import 'popup.less';
@import 'item.less';
@import 'inline.less';
@import 'modchooser.less';
@import 'button.less';
@import 'section.less';
@import 'skin.less';

#ludic-main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .ludic-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &.hide {
      display: none;
    }

    &.general-activities {
      border: 1px solid black;
      padding: 20px;
      background: linear-gradient(45deg, rgba(150,240,77,0.5) 0%, rgba(240,116,77,0.25) 100%);
      .item.coursemodule {
        margin-top: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &#global-description {
      border: 1px solid black;
      padding: 20px;
      margin-bottom: 10px;
      word-break: break-all;
      background: linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }

  }
  .help-message {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
  }
}

// Not in edit mode
#ludic-main-container, #selection-popup {
  .container-items {
    display: flex;
    flex-direction: row;
    width: 100%;

    .container-parents {
      flex-direction: row;
      border: 1px solid black;
      margin-bottom: 10px;
      width: 100%;
      height: fit-content;
      padding: 10px;
      background: linear-gradient(45deg, rgba(247,249,99,0.5) 0%, rgba(150,240,77,0.25) 100%);
      justify-content: space-around;

      .container-children {
        display: none;
        border: 1px solid black;
        margin-top: 35px;
        min-height: 100px;
        padding: 20px;
        order: 1000;
        background: linear-gradient(45deg, rgba(150,240,77,0.5) 0%, rgba(240,116,77,0.25) 100%);
        justify-content: space-around;
      }

    }
  }
}

#ludic-main-container.editmode, #selection-popup {
  // In edit view you need to have properties in right, so reduce container width.
  .container-items {
    .container-parents {
      width: calc(~'70% - 20px');
      margin-right: 20px;
      background: linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
      justify-content: normal;
      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) {
        width: 100%;
        margin: 0 0 20px 0;
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) {
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991.98px) {
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }

      // Display container children in edit mode only.
      .container-children {
        display: flex;
        background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
        justify-content: normal;
      }
    }
    .container-properties {
      display: flex;
      flex-direction: column;
      width: 30%;
      background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);

      .container-content {
        padding: 20px;
        margin-bottom: 40px;
        flex-direction: column;
        border: 1px solid black;
      }

      .container-help {
        height: 100px;
        padding: 20px;
        text-align: center;
        border: 1px solid black;
      }

      // Extra small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) {
        width: 100%;
        margin: 0 0 20px 0;
        .container-content {
          padding: 0;
          border: unset;
        }
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) {
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991.98px) {
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }
  }
}


[data-action], [data-propertiesaction] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed !important;
  }
}

// Not used.
.container-help {
  display: none  !important;
}

body.format-ludic {
  #region-main {
    @media (max-width: 575.98px) {
      padding: 0 !important;
      border: unset !important;
    }
  }

  #page-content .action-menu.moodle-actionmenu {
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .region_main_settings_menu_proxy {
    display: none;
  }
}



