/*-----------------------------------------
    Fonts
*/

/* Number and other data */
@font-face {
    font-family: 'Montserrat-Black';
    src: url([[font:format_ludic|Montserrat-Black.ttf]]) format('truetype');
}

/* Other info */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url([[font:format_ludic|Montserrat-Regular.ttf]]) format('truetype');
}

/* Unit */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url([[font:format_ludic|Montserrat-Medium.ttf]]) format('truetype');
}

/* Activity and section title and other text */
@font-face {
    font-family: 'Montserrat-Light';
    src: url([[font:format_ludic|Montserrat-Light.ttf]]) format('truetype');
}

/* -----------------------------------------
    Global
 */

.format-ludic .item {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    padding: 5px;
}

.format-ludic .item.pre-selected {
    border: 2px dashed rgba(29, 16, 97, 0.44);
}

.format-ludic .item.selected {
    border: 3px dashed #1d1061;
    border-radius: 20px;
}

.format-ludic .item.has-link {
    cursor: pointer;
}

.ludic-container.container-parents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ludic-container.container-children {
    width: 100%;
}

.format-ludic .label-content-container {
    color: #1d1061;
}

.format-ludic .label-content-container .no-overflow > p {
    margin-bottom: 0;
}

@media (max-width: 1050px) {
    .format-ludic #region-main .card-body{
        padding: 0;
    }

    .format-ludic #ludic-main-container{
        border: 0;
    }
}

/* -----------------------------------------
    Navbar
*/
.format-ludic .course-content-header {
    margin-bottom: 10px;
}

#ludic-navbar-content .collapse-item .text {
    margin-left: 5px;
    vertical-align: bottom;
}

#ludic-navbar-content .collapse-item.link {
    cursor: pointer;
    margin-bottom: 5px;
}

.header-sections-list {
    margin: 10px;
}

.header-sections-list .section-title {
    background-color: #F2F0EC;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
    padding: 8px 10px;
    margin-bottom: 10px;
}


/* -----------------------------------------
    Skin tiles global
 */

.format-ludic .item .skin-tile {
    position: relative;
}

.format-ludic .item.section .skin-tile {
    width: 100%;
}

.format-ludic .item.coursemodule .skin-tile {
    height: 210px;
    width: 280px;
}

.format-ludic .item.section .title-tile,
.format-ludic .item.coursemodule .title-tile {
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
    text-align: center;
}

.format-ludic .item.section .title-tile {
    font-size: 2.9em;
    line-height: normal;
    min-height: 120px;
    width: 100%;
}

@media (max-width: 1050px) {
    .format-ludic .item.section .title-tile {
        min-height: 0;
        font-size: 20px;
    }
}

.format-ludic .item.coursemodule .title-tile {
    font-size: 20pt;
    line-height: 20pt;
    min-height: 60px;
    width: 280px;
}

.format-ludic .item .skin-img {
    width: 100%;
}

/* Hide skin text that skin types can unhide */
.format-ludic .item .skin-tile .skin-text {
    display: none;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
}


.format-ludic .item .skin-tile .number {
    font-family: 'Montserrat-Black';
    font-size: 60px;
}

.format-ludic .item .skin-tile .percent {
    font-family: 'Montserrat-Black';
    font-size: 60px;
}

.format-ludic .item .skin-tile .unit {
    font-family: 'Montserrat-Medium';
    font-size: 40px;
}

/* For stacked images */
.format-ludic .item .skin-tile .skin-img.img-step:not(.img-step-0) {
    position: absolute;
    left: 0;
}

/* Inline "skin" activity */
.format-ludic .item.inline.coursemodule {
    width: 100%;
    background: inherit;
    color: inherit;
    border: inherit;
    padding: 10px;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    font-weight: initial;
}

.format-ludic .item.inline.coursemodule.label,
.format-ludic .section-no-cm {
    background-color: #F2F0EC;
    border: none;
    border-radius: 20px;
}

.format-ludic .section-no-cm {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 10px;
}

.format-ludic .item.inline.coursemodule.label .item-title {
    display: none;
}

/* -----------------------------------------
    Avatar
 */

.skin-type-avatar {
    text-align: center;
}

.skin-type-avatar .skin-img.img-object {
    position: absolute;
    top: 0;
    left: 0;
}

.skin-type-avatar .skin-extra-html.shop .modal {
    /*display: block;*/
}

.skin-type-avatar .slot-title {
    background-color: #F2F0EC;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
}

.skin-type-avatar .slot-items {
    margin-top: 10px;
    margin-bottom: 10px;
}

.skin-type-avatar .slot-item {
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Medium';
    font-size: 25px;
    color: #1d1061;
}

@media (max-width: 800px) {
    .skin-type-avatar .slot-item {
        font-size: 16px;
    }
}

.skin-type-avatar .slot-item:not(:last-child) {
    border-bottom: 1px dotted #1d1061;
}

.skin-type-avatar .slot-item-icon img {
    width: 100px;
}


.format-ludic .item .skin-type-avatar .skin-tile .skin-text.skin-hidden-text.open-shop {
    display: block;
}

.format-ludic .item .skin-type-avatar .skin-tile .skin-text.skin-hidden-text.cash {
    display: block;
}

.skin-type-avatar .slot-item .slot-item-state .cant-buy{
    cursor: not-allowed;
    color: #a7a4a4;
}

.skin-type-avatar .slot-item-name,
.skin-type-avatar .slot-item-icon,
.skin-type-avatar .slot-item-state {
    flex-basis: 33%;
}

.slot-item-state.notbuy .slot-item-equipped,
.slot-item-state.notbuy .slot-item-notequipped {
    display: none;
}

.slot-item-state.equipped .slot-item-buy,
.slot-item-state.equipped .slot-item-notequipped {
    display: none;
}

.slot-item-state.notequipped .slot-item-buy,
.slot-item-state.notequipped .slot-item-equipped {
    display: none;
}

.skin-text.skin-hidden-text.cash {
    position: absolute;
    top: -2px;
    left: 35%;
    font-size: 35px;
    background: rgb(255, 255, 255);
    padding: 0px 23px;
    border-radius: 37px;
}

.skin-extra-html.shop .modal-dialog {
    max-width: 75%;
}

@media (max-width: 1050px) {
    .skin-extra-html.shop .modal-dialog {
        max-width: 98%;
    }
}

.no-ludic-event.shop-container {
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 1050px) {
    .no-ludic-event.shop-container {
        flex-wrap: wrap;
    }
}

.skin-text.skin-hidden-text.cash:before {
    content: "$";
}

.slot-item-price:before {
    content: "$";
}

.shop-container .avatar-preview {
    flex-basis: 500px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1050px) {
    .shop-container .avatar-preview {
        flex-basis: 350px;
    }
}

.shop-container .shop-content {
    flex-grow: 1;
    margin-left: 15px;
    overflow: auto;
    height: 100%;
}

.format-ludic .item .skin-type-avatar .skin-tile .skin-text.skin-hidden-text.open-shop {
    position: absolute;
    right: 11px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 20px;
    bottom: 6px;
    background-image: url([[pix:format_ludic|default-skins/section-avatar/shopping-cart]]);
    background-repeat: no-repeat;
    background-position: 98px;
    background-size: 30px;
    z-index: 100;
}

.skin-extra-html.shop .modal-dialog,
.skin-extra-html.shop .modal-content {
    height: 80%;
}

@media (max-width: 1050px) {
    .skin-extra-html.shop .modal-dialog,
    .skin-extra-html.shop .modal-content {
        height: 95%;
    }
}

.skin-extra-html.shop .modal-body {
    height: 100%;
    overflow-y: scroll;
}

/* -----------------------------------------
    Section list page
 */

#ludic-main-container.course-view .container-parents.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: first baseline;
    flex-wrap: wrap;
    justify-content: center;
}

#ludic-main-container.course-view .item.section {
    flex-basis: 31%;
    margin-right: 10px;
    min-width: 350px;
    max-width: 600px;
    margin: 10px;
}

/* -----------------------------------------
    Section page
 */

#ludic-main-container .section-container.ludic-container:not(.has-description) {
    text-align: center;
}

#ludic-main-container .section-container.ludic-container.has-description {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: stretch;
}

#ludic-main-container.section-view .section-container .section-description {
    font-family: 'Montserrat-Light';
    flex-grow: 1;
    padding: 20px;
    color: #1D1061;
    background-color: #F2F0EC;
    border-radius: 20px;
}

#ludic-main-container .section-container.ludic-container.has-description #section-block {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 350px;
    max-width: 500px;
}

#section-block > .section {
    max-width: 500px;
}

@media (max-width: 800px) {
    #section-block > .section {
        margin-left: 0;
        margin-right: 0;
    }
}

#page-course-view-ludic .section-block .section.selected {
    border: none;
}

/* Manual completion */
.ludic-container .coursemodule .item-icon.manual-completion {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: white;
}

.ludic-container .coursemodule .item-icon.manual-completion a {
    display: block;
    width: 100%;
    height: 100%;
}


/* -----------------------------------------
    Edition mode
 */

#ludic-main-container.editmode > .container-items {
    display: flex;
    flex-direction: row;
}

#ludic-main-container.editmode > .container-items > .container-parents {
    width: 65%;
    overflow: auto;
}

#ludic-main-container.editmode .container-properties {
    width: 35%;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-left: 15px;
    padding: 15px;
}

#ludic-main-container.editmode .item-img-container {
    width: 150px;
}

#ludic-main-container.editmode #ludic-section-0 .item-title {
    margin-top: 37%;
}

#ludic-main-container.editmode .section {
    border-radius: 15px;
}

#ludic-main-container.editmode .item.section .item-img-container {
    width: 225px;
}

#ludic-main-container.editmode .item-title {
    width: 150px;
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
    text-align: center;
}

#ludic-main-container.editmode .item.section .item-title {
    width: 225px;
    border-radius: 10px;
}

#ludic-main-container.editmode .item.is-not-visible .item-img-container{
    opacity: 0.4;
}


#ludic-main-container.editmode .overview-img-container {
    width: 100px;
    border: 2px dashed black;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

#ludic-main-container.editmode .coursemodule {
    vertical-align: top;
    cursor: pointer;
}

#ludic-main-container .children-title, #ludic-main-container .sections-container-title {
    background-color: #F2F0EC;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
    padding: 3px 10px;
    width: 100%;
    height: 30px;
}

.ludic-form .ludic-form-separator{
    background-color: #F2F0EC;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
    padding: 3px 10px;
    width: 100%;
    height: 25px;
    margin-bottom: 7px;
    margin-top: 7px;
}

@media (max-width: 800px) {
    #ludic-main-container .children-title, #ludic-main-container .sections-container-title {
        text-align: center;
    }
}

#ludic-main-container.editmode .sections-container-title {
    margin: 0 10px;
}

#ludic-main-container.editmode .ludic-add-button {
    height: auto;
    align-self: center;
    margin-top: 10px;
}

#ludic-main-container.editmode .item-icon.position-top {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #FFF;
}

#ludic-main-container.editmode .container-children.coursemodules {
    padding: 10px;
}

#ludic-main-container.editmode .container-children.coursemodules .children-elements {
    display: flex;
    flex-wrap: wrap;
}

#ludic-main-container.editmode .container-children.coursemodules .visibleifjs.addresourcemodchooser {
    display: none;
}


/* -----------------------------------------
    Form
 */

.ludic-form-group {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.ludic-form-group input[type="text"] {
    width: 100%;
}

.ludic-form-group textarea {
    width: 100%;
}

#ludic-main-container .container-form .ludic-form .ludic-form-group .select-description .option-description {
    display: none
}

#ludic-main-container .container-form .ludic-form .ludic-form-group .select-description .option-description.visible {
    display: inline-block
}

#ludic-main-container .container-properties .container-buttons {
    text-align: center;
}


#ludic-main-container .container-properties .container-buttons > .dropdown,
#ludic-main-container .container-properties .container-buttons > .btn {
    width: 40%;
    display: inline-block;
    margin: 5px;
}

#ludic-main-container .container-properties .container-buttons > .dropdown button {
    width: 100%;
}


#ludic-main-container .container-form .ludic-filepicker-img-preview{
    margin-bottom: 10px;
    cursor: pointer;
}

#ludic-main-container .container-form .ludic-filepicker-img-preview img{
    max-width: 100px;
    height: auto;
}

/*  */
#ludic-main-container .container-form .ludic-form-group.group-index-empty,
#ludic-main-container .container-form .ludic-form-separator.group-index-empty,
#ludic-main-container .container-form button[data-itemid="stampimages_empty"]{
    /*display: none;*/
}

#ludic-main-container .container-form .ludic-filepicker-img-preview ~ .ludic-filepicker-container {
    display: none;
}

/* -----------------------------------------
    Skin choice
 */

#selection-popup .ludic-container.container-items {
    display: flex;
}

#selection-popup .ludic-container.container-properties {
    width: 34%;
    padding: 10px;
    border-left: 1px solid #e9ecef;
}

#selection-popup .item {
    margin: 10px 10px;
}

#selection-popup .item.skin .item-img-container {
    width: 150px;
}

#selection-popup .item-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
}

/* -----------------------------------------
    Skin choice
 */


.ludic-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ludic-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ludic-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ludic-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .ludic-slider {
    background-color: #2196F3;
}

input:focus + .ludic-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .ludic-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.ludic-slider.round {
    border-radius: 34px;
}

.ludic-slider.round:before {
    border-radius: 50%;
}