/*-----------------------------------------
    Fonts
*/

/* Number and other data */
@font-face {
    font-family: 'Montserrat-Black';
    src: url([[font:format_ludic|Montserrat-Black.ttf]]) format('truetype');
}

/* Other info */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url([[font:format_ludic|Montserrat-Regular.ttf]]) format('truetype');
}

/* Unit */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url([[font:format_ludic|Montserrat-Medium.ttf]]) format('truetype');
}

/* Activity and section title and other text */
@font-face {
    font-family: 'Montserrat-Light';
    src: url([[font:format_ludic|Montserrat-Light.ttf]]) format('truetype');
}

/* -----------------------------------------
    Global
 */

.format-ludic .item {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    padding: 5px;
}

.format-ludic .item.selected{
    border: 1px dashed #1D1061;
}

.format-ludic .item.has-link {
    cursor: pointer;
}

.ludic-container.container-parents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ludic-container.container-children{
    width: 100%;
}

/* -----------------------------------------
    Navbar
*/
.format-ludic .course-content-header {
    margin-bottom: 10px;
}

#ludic-navbar-content .collapse-item .text {
    margin-left: 5px;
    vertical-align: bottom;
}

#ludic-navbar-content .collapse-item.link {
    cursor: pointer;
    margin-bottom: 5px;
}

.format-ludic .header-sections-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* -----------------------------------------
    Skin tiles global
 */

.format-ludic .item .skin-tile {
    position: relative;
}

.format-ludic .item.section .skin-tile {
    width: 100%;
}

.format-ludic .item.coursemodule .skin-tile {
    height: 210px;
    width: 280px;
}

.format-ludic .item.section .title-tile,
.format-ludic .item.coursemodule .title-tile {
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
    text-align: center;
}

.format-ludic .item.section .title-tile {
    font-size: 2.9em;
    line-height: normal;
    min-height: 120px;
    width: 100%;
}

.format-ludic .item.coursemodule .title-tile {
    font-size: 20pt;
    line-height: 20pt;
    min-height: 60px;
    width: 280px;
}

.format-ludic .item .skin-img {
    width: 100%;
}

/* Hide skin text that skin types can unhide */
.format-ludic .item .skin-tile .skin-text {
    display: none;
    font-family: 'Montserrat-Medium';
    color: #1D1061;
}


.format-ludic .item .skin-tile .number {
    font-family: 'Montserrat-Black';
    font-size: 80px;
}

.format-ludic .item .skin-tile .number {
    font-family: 'Montserrat-Black';
    font-size: 80px;
}

.format-ludic .item .skin-tile .unit {
    font-family: 'Montserrat-Medium';
    font-size: 40px;
}

/* For stacked images */
.format-ludic .item .skin-tile .skin-img.img-step{
    position: absolute;
    left: 0;
}

/* Inline "skin" activity */
.format-ludic .item.inline.coursemodule {
    width: 100%;
    background: inherit;
    color: inherit;
    border: inherit;
    padding: 10px;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    font-weight: initial;
}

.format-ludic .item.inline.coursemodule.label,
.format-ludic .section-no-cm{
    background-color: #F2F0EC;
    border: none;
    border-radius: 20px;
}

.format-ludic .section-no-cm{
    padding: 10px;
    display: block;
    width:100%;
    margin: 10px;
}

.format-ludic .item.inline.coursemodule.label .item-title {
    display: none;
}


/* -----------------------------------------
    Section list page
 */

#ludic-main-container.course-view .container-parents.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: first baseline;
    flex-wrap: wrap;
    justify-content: center;
}

#ludic-main-container.course-view .item.section {
    flex-basis: 31%;
    margin-right: 10px;
    min-width: 350px;
    max-width: 600px;
    margin: 10px;
}

/* -----------------------------------------
    Section page
 */

#ludic-main-container .section-container.ludic-container:not(.has-description) {
    text-align: center;
}

#ludic-main-container .section-container.ludic-container.has-description {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: stretch;
}

#ludic-main-container.section-view .section-container .section-description {
    font-family: 'Montserrat-Light';
    flex-grow: 1;
    padding: 20px;
    color: #1D1061;
    background-color: #F2F0EC;
    border-radius: 20px;
}

#ludic-main-container .section-container.ludic-container.has-description #section-block {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 350px;
    max-width: 500px;
}

#section-block > .section{
    max-width: 500px;
}

#ludic-main-container .coursemodules-container{
    border-top : 1px solid #1D1061;
}

#page-course-view-ludic .section-block .section.selected {
    border: none;
}

/* -----------------------------------------
    Edition mode
 */

#ludic-main-container.editmode > .container-items{
    display: flex;
    flex-direction: row;
}

#ludic-main-container.editmode >  .container-items > .container-parents{
    width: 65%;
}

#ludic-main-container.editmode .container-properties{
    width: 35%;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 15px;
    padding: 15px;
}

#ludic-main-container.editmode .item-img-container{
    width: 150px;
}

#ludic-main-container.editmode .item-title{
    width: 150px;
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
    text-align: center;
}

#ludic-main-container.editmode .overview-img-container{
    width : 100px;
}

#ludic-main-container.editmode .coursemodule{
    vertical-align: top;
}

#ludic-main-container.editmode .ludic-add-button{
    height: auto;
    align-self: center;
}

#ludic-main-container.editmode .item-icon.position-top {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #FFF;
}

#ludic-main-container.editmode .container-children.coursemodules{
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,.125);
}

#ludic-main-container.editmode .container-children.coursemodules .children-elements{
    display: flex;
    flex-wrap: wrap;
}

#ludic-main-container.editmode .container-children.coursemodules .visibleifjs.addresourcemodchooser{
    display: none;
}

/* -----------------------------------------
    Form
 */

.ludic-form-group{
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.ludic-form-group input[type="text"]{
    width: 100%;
}

#ludic-main-container .container-form .ludic-form .ludic-form-group .select-description .option-description {
    display: none
}

#ludic-main-container .container-form .ludic-form .ludic-form-group .select-description .option-description.visible {
    display: inline-block
}

#ludic-main-container .container-properties .container-buttons{
    text-align: center;
}

#ludic-main-container .container-properties .container-buttons > .dropdown,
#ludic-main-container .container-properties .container-buttons > .btn{
    width: 40%;
    display: inline-block;
    margin: 5px;
}

#ludic-main-container .container-properties .container-buttons > .dropdown button{
    width: 100%;
}

/* -----------------------------------------
    Skin choice
 */

#selection-popup .ludic-container.container-items{
    display: flex;
}

#selection-popup .ludic-container.container-properties{
    width: 34%;
    padding: 10px ;
    border-left : 1px solid #e9ecef;
}

#selection-popup .item{
    margin: 10px 10px;
}

#selection-popup .item.skin .item-img-container{
    width: 150px;
}

#selection-popup .item-title{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat-Light';
    border-radius: 20px;
    margin-top: 10px;
    color: #1D1061;
    background-color: #F2F0EC;
    padding: 5px 10px;
}

