<div class="ludic-form-group" data-type="checkbox">

<label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
    {{label}}
    {{#required}}
        {{#pix}}req, core, {{# str }}error-required, format_ludic{{/ str }}{{/pix}}
    {{/required}}
</label>

    <input type="checkbox"
        {{#id}}id="{{id}}" {{/id}}
        {{#name}}name="{{name}}" {{/name}}
        {{#value}}value="{{value}}" {{/value}}
        {{#class}}class="{{class}}" {{/class}}
        {{#checked}}checked {{/checked}}
        {{#autofocus}}autofocus {{/autofocus}}
        {{#disabled}}disabled {{/disabled}}
        {{#readonly}}readonly {{/readonly}}
    >
</div>

