<div class="ludic-form-group" data-type="filepicker">

<label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
    {{label}}
    {{#required}}
        {{#pix}}req, core, {{# str }}error-required, format_ludic{{/ str }}{{/pix}}
    {{/required}}
 </label>

    <div class="ludic-filepicker-container" data-options="{{options}}">
        {{{content}}}
    </div>

</div>

