<div class="ludic-form-group" data-type="filepicker">

    <label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
        {{label}}
    </label>

    <div class="ludic-filepicker-container" data-options="{{options}}">
        {{{content}}}
    </div>

</div>

