{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div id="{{selectorid}}"
    class="item {{itemtype}} {{itemtype}}-{{order}}{{#draggable}} ludic-drag{{/draggable}}{{#droppable}} ludic-drop{{/droppable}}{{#isnotvisible}} is-not-visible{{/isnotvisible}}"
    {{#draggable}} draggable="true"{{/draggable}}
    data-id="{{id}}"
    data-type="{{itemtype}}"
    data-order="{{order}}"
    {{#controller}} data-controller="{{controller}}"{{/controller}}
    {{#action}} data-action="{{action}}"{{/action}}
    {{#callback}} data-callback="{{callback}}"{{/callback}}
>
    {{! For moodle drag and drop javascript. }}
    {{#issection}}<div class="content hide"><ul class="section"></ul></div>{{/issection}}

    <div class="item-img-container">
        <img src="{{imgsrc}}" alt="{{imgalt}}">
    </div>

    <div class="item-title">
        {{title}}
    </div>

</div>
