{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div id="{{selectorid}}"
    class="item {{itemtype}} {{itemtype}}-{{order}}{{#draggable}} ludic-drag{{/draggable}}{{#droppable}} ludic-drop{{/droppable}}{{#isnotvisible}}
    is-not-visible{{/isnotvisible}}{{#parent}} parent{{/parent}}{{#child}} child{{/child}}{{#selected}} selected{{/selected}}{{#parentid}} parent-id-{{parentid}}{{/parentid}}"
    {{#draggable}} draggable="true"{{/draggable}}
    data-id="{{id}}"
    data-type="{{itemtype}}"
    data-order="{{order}}"
    {{#skinid}} data-skinid="{{skinid}}"{{/skinid}}
    {{#controller}} data-controller="{{controller}}"{{/controller}}
    {{#action}} data-action="{{action}}"{{/action}}
    {{#propertiesaction}} data-propertiesaction="{{propertiesaction}}"{{/propertiesaction}}
    {{#callback}} data-callback="{{callback}}"{{/callback}}
>
    {{#iconsrc}}<div class="item-icon" style="background-image: url('{{iconsrc}}')" aria-label="{{iconalt}}"></div>{{/iconsrc}}

    {{! For moodle drag and drop javascript. }}
    {{#issection}}<div class="content hide"><ul class="section"></ul></div>{{/issection}}

    <div class="item-img-container" style="background-image: url('{{imgsrc}}')" aria-label="{{imgalt}}"></div>

    <div class="item-title">
        {{title}}
    </div>

</div>
