<div class="ludic-form-group" data-type="number">

    <label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
        {{label}}
    </label>

    <input type="number"
        {{#id}}id="{{id}}" {{/id}}
        {{#name}}name="{{name}}" {{/name}}
        {{#value}}value="{{value}}" {{/value}}
        {{#class}}class="{{class}}" {{/class}}
        {{#placeholder}}placeholder="{{placeholder}}" {{/placeholder}}
        {{#min}}min="{{min}}" {{/min}}
        {{#max}}max="{{max}}" {{/max}}
        {{#step}}step="{{step}}" {{/step}}
        {{#autofocus}}autofocus {{/autofocus}}
        {{#disabled}}disabled {{/disabled}}
        {{#readonly}}readonly {{/readonly}}
        {{#required}}required{{/required}}
    >
</div>