<div class="ludic-form-group ludic-action display-selection-popup"
     data-controller="{{controller}}"
     data-action="{{action}}"
     data-callback="display_popup"
>

<label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
    {{label}}
    {{#required}}
        {{#pix}}req, core, {{# str }}error-required, format_ludic{{/ str }}{{/pix}}
    {{/required}}
 </label>

    <div id="{{id}}-overview"
        class="selection-overview"
        {{#multiple}}multiple {{/multiple}}
        {{#autofocus}}autofocus {{/autofocus}}
        {{#disabled}}disabled {{/disabled}}
        {{#required}}required{{/required}}
    >
        {{#icon}}
            <div class="overview-img-container">
                <img src="{{imgsrc}}" alt="{{imgalt}}">
            </div>
        {{/icon}}
    </div>
    {{> format_ludic/hidden_form_element }}

</div>



