{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="ludic-container selection-container container-items">
    <div class="ludic-container container-parents">
        <div id="skin-1" class="item skin skin-1" data-type="skin" data-id="1" data-order="1">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/10/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 1
            </div>
        </div>
        <div id="skin-2" class="item skin skin-2" data-type="skin" data-id="2" data-order="2">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/20/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 2
            </div>
        </div>
        <div class="ludic-container container-children"></div>
    </div>

    <div class="ludic-container container-properties">
        <div class="ludic-container container-content">

        </div>
        <div class="ludic-container container-buttons">
            <button class="ludic-button selection-submit" data-inputid="#section-skinid">Confirmer</button>
            <button class="ludic-button close-ludic-popup">Annuler</button>
        </div>
    </div>
</div>
