<div class="ludic-container selection-container container-items">
    <div class="ludic-container container-parents">
        <div id="skin-1" class="item skin skin-1" data-type="skin" data-id="1" data-order="1">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/10/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 1
            </div>
        </div>
        <div id="skin-2" class="item skin skin-2" data-type="skin" data-id="2" data-order="2">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/20/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 2
            </div>
        </div>
        <div id="skin-3" class="item skin skin-3" data-type="skin" data-id="3" data-order="3">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/30/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 3
            </div>
        </div>
        <div id="skin-4" class="item skin skin-4" data-type="skin" data-id="4" data-order="4">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/40/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 4
            </div>
        </div>
        <div id="skin-5" class="item skin skin-5" data-type="skin" data-id="5" data-order="5">
            <div class="item-img-container">
                <img src="https://picsum.photos/id/50/80/80">
            </div>

            <div class="item-title">
                FAUX SECTION SKIN 5
            </div>
        </div>
        <div class="ludic-container container-children"></div>
    </div>

    <div class="ludic-container container-properties">
        <div class="ludic-container container-content">

        </div>
        <div class="ludic-container container-buttons">
            <button class="ludic-button selection-submit" data-inputid="#section-skinid">Confirmer</button>
            <button class="ludic-button close-ludic-popup">Annuler</button>
        </div>
    </div>
</div>
