<div class="ludic-form-group" data-type="text">

<label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
    {{label}}
    {{#required}}
        {{#pix}}req, core, {{# str }}error-required, format_ludic{{/ str }}{{/pix}}
    {{/required}}
 </label>

    <input type="text"
        {{#id}}id="{{id}}" {{/id}}
        {{#name}}name="{{name}}" {{/name}}
        {{#value}}value="{{value}}" {{/value}}
        {{#class}}class="{{class}}" {{/class}}
        {{#placeholder}}placeholder="{{placeholder}}" {{/placeholder}}
        {{#minlength}}minlength="{{minlength}}" {{/minlength}}
        {{#maxlength}}maxlength="{{maxlength}}" {{/maxlength}}
        {{#autofocus}}autofocus {{/autofocus}}
        {{#disabled}}disabled {{/disabled}}
        {{#readonly}}readonly {{/readonly}}
        {{#required}}required{{/required}}
    >
</div>

