<div class="ludic-form-group" data-type="textarea">

    <label for="{{id}}"{{#labelclass}} class="{{labelclass}}"{{/labelclass}}>
        {{label}}
    </label>

    <textarea
        {{#id}}id="{{id}}" {{/id}}
        {{#name}}name="{{name}}" {{/name}}
        {{#class}}class="{{class}}" {{/class}}
        {{#placeholder}}placeholder="{{placeholder}}" {{/placeholder}}
        {{#rows}}rows="{{rows}}" {{/rows}}
        {{#cols}}cols="{{cols}}" {{/cols}}
        {{#minlength}}minlength="{{minlength}}" {{/minlength}}
        {{#maxlength}}maxlength="{{maxlength}}" {{/maxlength}}
        {{#spellcheck}}spellcheck="{{spellcheck}}" {{/spellcheck}}
        {{#wrap}}wrap="{{wrap}}" {{/wrap}}
        {{#autofocus}}autofocus {{/autofocus}}
        {{#disabled}}disabled {{/disabled}}
        {{#readonly}}readonly {{/readonly}}
        {{#required}}required{{/required}}
    >{{#value}}{{value}}{{/value}}</textarea>
</div>

